PORT=3000
HOST=localhost
NODE_ENV=development
CORS_ORIGINS=
POSTGRES_URL=postgresql://stepan:stepan@localhost:5432/easy-moneya?schema=public
POSTGRES_DB=easy-moneya
POSTGRES_USER=stepan
POSTGRES_PASSWORD=stepan
REDIS_URL=redis://:supersecret@localhost:6379
REDIS_PASSWORD=supersecret
